{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">

		
 {% endblock css %}
 
{% block content %}
<div class="container">
    <div class="panel panel-padrao">
        <div class="panel-heading clearfix">

             <center><img src="{% static 'img/menuicon.png' %}" style="width: 30%; height: 30%;"/></center>
        </div>
        <div class="panel-body">
            <form action="" method="GET">
                <div class="row" style="margin-bottom: 2%;">
                    <div class="col-sm-4">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                            <input type="search" class="form-control input-sm" name="buscar_item" value="{{ buscar_item }}" placeholder="Buscar um item"/>
			                 
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <select name="buscar_categoria" id="id_categoria" style="width:180px">
								 <option value="" disabled selected style='display:none;'>Selecione a Categoria</option>
								{% if categorias %}
								{%for categoria in categorias%}
									<option value="{{categoria.id}}" {%ifequal categoria.id buscar_categoria %} selected="selected" {%endifequal%}>{{categoria.nome}} </option>
								{%endfor%}
								{% else %}
								 <option value="" disabled selected style='display:none;'>Nenhuma categoria cadastrada</option>
								{% endif %}
						</select>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary btn-sm">
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
             <table id="table" class="table table-striped table-bordered table-hover"
               data-toggle="table"
               >
            <thead>
            <tr>
                <th data-field="nome" data-sortable="true">Item</th>
                <th data-field="valor" data-sortable="true">Valor</th>
                <th data-field="tempo_preparo" data-sortable="true">Tempo de preparo</th>
                <th data-field="ingrediente" data-sortable="false">Ingredientes</th>
                <th data-field="categoria" data-sortable="false">Categoria</th>
            </tr>
            </thead>
             <tbody>
                        {% if itens %}
	                    
	                        {% for item in itens %}
	                        <tr class="{% cycle 'odd gradeX' 'even gradeC' as rowcolors %}">
	                    
		                            <td align="left">
		                                <span><b>{{item.nome}}</b></span>
		                            </td>
	                            <td>{{item.valor}}</td>
	                            <td>{{item.tempo_preparo}}</td>
	                            <td>
	                            {% for ingrediente in item.ingredientes %}
	                            {{ingrediente.nome}}</br>
	                            {% endfor %}
	                            </td>
	                            
	                           <td>{{item.categoria.nome}}</td>
	                        </tr>
	                        {% endfor %}
                        {% else %}
	                        <tr>
	                            <td colspan="5">
	                              <center>  Nenhum item cadastrado até o momento.</center>
	                            </td>
	                        </tr>
                        {% endif %}
                    </tbody>
        </table>
           
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>





{% endblock content %}